<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Meme Post</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
        <script src="https://kit.fontawesome.com/8cc12ec6d2.js" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/memes.js"></script>
	</head>
	<body id="body">
		{{{ body }}}
	</body>
</html>



