
a {
    font-weight: 900;
    font-size: 24px;
}
#web-title {
    color: black;
   text-align: center;
   padding-right: 350px;
   padding-left: 350px;
}
.navbar {
    text-align: center;
    justify-content: center;
}
.icon-bar {

    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

.container .container {
align-self: bottom;
background-color: lightgray;

}
p {
    font-size: xx-small;
}

.meme-display {
    padding: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

