body {
    background-color: rgb(54, 54, 54);
}

button.submit {
    float: right;
}

form #memer-form {
    margin-top: 50px;
}

.create-header button.delete,
button.edit, button.like {
    float: right;
    margin: 5px;
}

.meme-container {
    padding-top: 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.card {
    margin-top: 20px;
}

.likedMeme-container {
    margin: 0 auto;
    padding-top: 20px;
}

.like-btn, .dislike {
    background-color: orange;
    color: white;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    margin-left: 5px;
}

#meme-display-container {
    margin: 0 auto;
    padding: 10px;
}

.meme-choices {
    padding: 10px;
    margin: 10px;
}

.meme-display {
    padding: 5px;
    border: 10px;
}

#meme {
    margin: 20px;
}

label {
    color: white;
}

.web-nav {
    width: 100%;
    background-color: black !important;

}

#choose-meme {
    color: white;
}

.meme-img {
    margin: 8px;
}

.meme-img:hover {
    box-shadow: 0 0 5px 2px white;
}

.card-body {
    position: relative;
}

.text-block-top {
    position: absolute;
    top: 20px;
    right: 33%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    
}

.text-block-bottom {
    position: absolute;
    bottom: 20px;
    right: 33%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.meme {
    margin: 0 auto;

}

#memers-title {
    color: white;
}

th {
    color: white;
}

.memer-container {
    margin: 0 auto;
    background-color: grey;
}

.meme-card:hover {
    box-shadow: 0 0 5px 2px white;
}