

button.submit {
    float: right;
}

form #memer-form {
    margin-top: 50px;
}

.create-header button.delete,
button.edit, button.like {
    float: right;
    margin: 5px;
}

.meme-container {
    padding-top: 20px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.card {
    margin-top: 20px;
}

.likedMeme-container {
    margin: 0 auto;
    padding-top: 20px;
}

